.container{
   width: 100%;
   height: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card{
  width: 80rem;
  height: 400px;
  border: 1px solid blue;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 20px blue;
  text-align: center;
  padding:10px;
  display: flex;
  flex-direction: column;

  align-items: center;
}


#text{
  margin: 10px;
 width: 25rem;
 border-color: blue;
 border-radius: 0.6rem;
 font-size: 1.2rem;
 font-weight: 600;
   overflow-wrap: break-word;
  padding: 1rem 1rem;
}

.submit{
  margin: 1rem;
  padding: 0.8rem 3rem ;
  border-radius: 0.4rem;
  font-weight: 600;
  font-size: medium;
  scale: 1;
  transition: all linea 0.4s;
  box-shadow: 1px 1px 0.3rem blue;
  cursor: pointer;
  border: none;
}

.submit:active{
  scale: 0.9  ;
}

.showId{
   font-size: 2rem;
   font-weight: 700;
   cursor: pointer;
   color: black;
}